<nav class="navbar navbar-ifsp">
    <a class="navbar-brand" href="#">
        <img src="{{ asset('img/ifsp_logo.png') }}" width="40" height="53" alt="">
        <span class="text-header">Sistema de Gestão de Trabalhos de Conclusão de Curso</span>
    </a>

    <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-login" type="submit">Login</button>
    </form>
</nav>