<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{ include('common/import_assets.html.twig') }}
        <title>Cadastro Relizado com Sucesso</title>
    </head>

    {{ include('common/navbar.html.twig') }}
    <body>

        <div class="container">
            <h1 class="text-success">Cadastro Realizado com Sucesso</h1>  
        </div>
    </body>

    {{ include('common/footer.html.twig') }}
</html>
