<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{ include('common/import_assets.html.twig') }}
        <title>Cadastro TCC</title>
    </head>

    {{ include('common/navbar.html.twig') }}
    <body>
        <form>


        </form>
    </body>

      {{ include('common/footer.html.twig') }}
</html>
